<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>1 Урок</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div class="app1">
            <h2>Завдання 1</h2>
            <div>Введіть кількість пассажирів:</div>
            <input type="number" v-model="passangers" />
            <div>Автобусів потрібно: {{bus}}</div>
            <div>Потрібно пляшок води: {{waterBottle}}</div>
            <div>Потрібно бутербродів: {{sandwiches}}</div>
        </div>
        <hr />
        <div class="app2">
            <h2>Завдання 2</h2>
            <div>Оберіть місяць</div>
            <input type="number" v-model="selectMonth" min="1" max="12" />
            <div>Вдягни: {{selectSeason.cloth}}</div>
            <img :src="selectSeason.image" alt="" height="200" />
        </div>
        <hr />
        <div class="app3">
            <h2>Завдання 3</h2>
            <h3>Отримай значення від <b>{{startValue}}</b> до <b>{{endValue}}</b></h3>
            <button @click="randomInteger">Отримати</button>
            <h2>{{result}}</h2>
        </div>
        <hr />
        <div class="app4">
            <h2>Завдання 4</h2>
            <div>Сума на рахунку: <span :style="sumStyle">{{grnSum}} грн.</span></div>
            <div>
                Зарахувати на рахунок: <input type="number" v-model="addMoneyValue" /><button
                    @click="addSum"
                >
                    Зарахувати
                </button>
            </div>
            <div>
                Зняти з рахунку: <input type="number" v-model="giveMoneyValue" /><button
                    @click="giveSum"
                >
                    Зняти
                </button>
            </div>
            <div>Відсотки за обслуговування: {{persentCount ? persentCount : 0}} грн.</div>
            <hr />
            <div>
                Сумма у доларах:
                <span :style="dollarsValue > 100 ? 'color: green' : 'color: red'"
                    >${{dollarsValue}}</span
                >
            </div>
            <div>
                Сумма у євро:
                <span :style="euroValue > 100 ? 'color: green' : 'color: red'"
                    >Є {{euroValue}}</span
                >
            </div>
        </div>
        <div class="app5">
            <h2>Завдання 5</h2>
            <div><label>Login <input type="text" v-model="entryLogin"></label></div>
            <div><label>Password <input type="password" v-model="entryPassword"></label></div>
            <button @click="check">Go</button>
        </div>

        <script>
            const { createApp } = Vue;

            createApp({
                data() {
                    return {
                        passangers: null,
                    };
                },
                computed: {
                    bus() {
                        if (this.passangers > 0) {
                            return Math.ceil(this.passangers / 20);
                        }
                        return 0;
                    },
                    waterBottle() {
                        if (this.passangers > 0) {
                            return this.passangers * 2;
                        }
                        return 0;
                    },
                    sandwiches() {
                        if (this.passangers > 0) {
                            return this.passangers * 3;
                        }
                        return 0;
                    },
                },
            }).mount(".app1");

            createApp({
                data() {
                    return {
                        selectMonth: null,
                        season: {
                            winter: {
                                image: "https://tickikids.ams3.cdn.digitaloceanspaces.com/z1.cache/gallery/activities/8801/image_5aa550de8b73b9.22272788.jpg",
                                cloth: "Шубу, шапку та теплі штанці",
                            },
                            spring: {
                                image: "https://www.volynpost.com/img/modules/news/6/84/951155d046846dde81e49658faf2d846/original-postimage155205428312.jpg",
                                cloth: "Щось яскраве, та візьмі кофтинку",
                            },
                            summer: {
                                image: "https://naurok.com.ua/uploads/files/45981/17713/17987_html/images/17713.003.jpg",
                                cloth: "Шорти та сандалі",
                            },
                            autumn: {
                                image: "https://his.ua/img/articles/i9F24Ehyu-.jpg",
                                cloth: "Дощовик",
                            },
                        },
                    };
                },
                computed: {
                    selectSeason() {
                        if (this.selectMonth > 0 && this.selectMonth <= 12) {
                            if ([1, 2, 12].find((item) => item === this.selectMonth)) {
                                return this.season.winter;
                            } else if ([3, 4, 5].find((item) => item === this.selectMonth)) {
                                return this.season.spring;
                            } else if ([6, 7, 8].find((item) => item === this.selectMonth)) {
                                return this.season.summer;
                            } else return this.season.autumn;
                        } else
                            return {
                                image: "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Question_mark.svg/1200px-Question_mark.svg.png",
                                cloth: "",
                            };
                    },
                },
            }).mount(".app2");

            createApp({
                data() {
                    return {
                        startValue: 24,
                        endValue: 131,
                        result: null,
                    };
                },
                methods: {
                    randomInteger() {
                        let rand =
                            this.startValue + Math.random() * (this.endValue + 1 - this.startValue);
                        this.result = Math.floor(rand);
                    },
                },
            }).mount(".app3");

            createApp({
                data() {
                    return {
                        grnSum: 0,
                        dollarRate: 38,
                        euroRate: 40,
                        addMoneyValue: null,
                        giveMoneyValue: null,
                        sumStyle: 'color: inherit',
                    };
                },
                methods: {
                    addSum() {
                        if (this.addMoneyValue > 0) {
                            let result = +(this.grnSum + this.addMoneyValue - this.addMoneyValue * 0.03).toFixed(2);
                            this.grnSum = result;
                            this.clear();
                            this.sumStyle = 'color: green;'
                        }
                    },
                    giveSum() {
                        let value = this.giveMoneyValue + this.giveMoneyValue * 0.03;
                        if (value <= this.grnSum && value > 0) {
                            let result = +(this.grnSum - this.giveMoneyValue + this.giveMoneyValue * 0.03).toFixed(2);
                            this.grnSum = result;
                            this.clear();
                            this.sumStyle = 'color: red;'
                        }
                    },
                    clear() {
                        this.addMoneyValue = null;
                        this.giveMoneyValue = null;
                    },
                },
                computed: {
                    dollarsValue() {
                        return (this.grnSum / this.dollarRate).toFixed(2);
                    },
                    euroValue() {
                        return (this.grnSum / this.euroRate).toFixed(2);
                    },
                    persentCount() {
                        if(this.addMoneyValue > 0) {
                            return +(this.addMoneyValue * 0.03).toFixed(2)
                        } else if (this.giveMoneyValue > 0) {
                            return +(this.giveMoneyValue * 0.03).toFixed(2)
                        }
                    }
                },
            }).mount(".app4");

            createApp({
            data(){
                return {
                    entryLogin: null,
                    entryPassword: null,
                    users: [
                        {
                            name: 'Ivan',
                            password: '1ivan2'
                        },
                        {
                            name: 'Stepan',
                            password: '1stepan2'
                        },
                        {
                            name: 'Galya',
                            password: '1galya2'
                        },
                        {
                            name: 'admin',
                            password: 'admin'
                        },
                    ]
                }
            },
            methods: {
                check(){
                    const name = this.entryLogin;
                    const password = this.entryPassword
                    const isCorrect = this.users.find(user => {
                        return user.name === name && user.password === password
                    })
                    isCorrect ? alert('Ви можете увійти') : alert('Невірний логін чи пароль')
                }
            },
            computed: {
                
            }
        }).mount('.app5')
        </script>
    </body>
</html>
